
**/__pycache__/
*.pyc
.venv/

.env
stock_model.pt
ticker_to_id.pt
.idea/
backtest_results.xlsx
backtest_results.csv

app/ml_logic/pred_models/model.py
app/ml_logic/pred_models/modeltosm.py

spy.xlsx
backtest_results_jan_copy1.xlsx
backtest_results_jan_copy2.xlsx
backtest_results_lit_same_thing_as_jan.xlsx
backtest_results_jan.xlsx

*.spec
build/
dist/

nyberg_static.pth
tuned_model.pth

