
**/__pycache__/
*.pyc
.venv/

backend/.env
stock_model.pt
ticker_to_id.pt
.idea/
backtest_results.xlsx
backtest_results.csv

backend/app/ml_logic/prediction_models/model.py
backend/app/ml_logic/prediction_models/modeltosm.py

spy.xlsx
backtest_results_jan_copy1.xlsx
backtest_results_jan_copy2.xlsx
backtest_results_lit_same_thing_as_jan.xlsx
backtest_results_jan.xlsx

*.spec
build/
dist/

backend/data/nyberg_static.pth
backend/data/tuned_model.pth

backend/data/sp500_tickers.csv
backend/data/sp500_history_cache.parquet
backend/data/vol_data.npy

*.parquet
.ipynb_checkpoints

.coverage
htmlcov/

motley_fool_masked.pkl
imma_need_a_sentimental_model.py

.venv/
venv/
__pycache__/

node_modules/
frontend/node_modules/
.DS_Store
dist/
build/

