
version: '3.8'
services:
  app:
    build: .
    environment:
      QT_QPA_PLATFORM: 'offscreen'
    depends_on:
      - db
  db:
    image: postgres:16-alpine
    container_name: stock_screener
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
