.full-figure {
    width: 800px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.full-figure h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: sans-serif;
    color: #333;
}

